@keyframes show-slide-div {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(10px);
    }
}

@-webkit-keyframes show-slide-div {
    from{
        -webkit-transform: translateY(0);
    }
    to{
        -webkit-transform: translateY(15px);
    }
}

@-webkit-keyframes show-slide-left{
    from{
        -webkit-transform: translateX(100%);
    }
    to{
        -webkit-transform: translateX(0);
    }
}

@keyframes show-slide-left{
    from{
        -webkit-transform: translateX(100%);
    }
    to{
        -webkit-transform: translateX(0);
    }
}

@-webkit-keyframes hide-slide{
    from{
        -webkit-transform: translateX(0);
    }
    to{
        -webkit-transform: translateX(100%);
    }
}

@keyframes hide-slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}

 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
    }
  }
  