* {
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

#btn-collapse-nav-menu{
    background: transparent;
    border: none;
    cursor: pointer;
}

.menu-navigation{
    position: absolute;
    background-color: hsl(0, 0%, 98%);

    right: 0;
    width: 50%;
    height: 100%;
    padding: 0 30px;

    display: flex;
    flex-direction: column;

    -webkit-animation: show-slide-left 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: show-slide-left 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu-navigation #btn-close-nav-menu{
    position: relative;
    background: transparent;
    border: none;
    
    align-self: flex-end;
    padding: 10px;
    
}

li {
    list-style: none;
}
ul .title-nav-item{
    color: hsl(0, 0%, 41%);
    font-size: .835rem;
    font-weight: 500;
}

ul .nav-item{
    display: flex;
    
}

ul .nav-item, .anchors-nav-item{
    flex-direction: column;
    justify-content: center;
    
    padding: 10px;
    color: hsl(0, 0%, 41%);
    font-size: .835rem;
    font-weight: 500;
    cursor: pointer;
}

ul .nav-item:hover, 
.anchors-nav-item :hover{
    color: hsl(0, 0%, 15%);   
}


ul .nav-item a{
    position: relative;
    margin-left: 10px;
    padding: 7px 10px;
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    cursor: pointer;
}

a img{
    margin-right: 10px;
}

.menu-navigation #btn-login{
    background: transparent;
    border: none;
    padding: 5px 10px;
    margin-bottom: 7px;

    color:hsl(0, 1%, 38%);
    font-weight: 500;
    font-size: .835;
    cursor: pointer;
}

.menu-navigation #btn-login :hover{
    color: hsl(0, 0%, 15%);
}
.menu-navigation .nav-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 15px;

    background-size: cover;
    box-sizing: border-box;
    border-radius: 10px;
    
}


.menu-navigation #btn-register{
    background: transparent;
    flex-basis: content;
    padding: 5px 30px;
    margin-bottom: 7px;
    border: 1.5px solid hsl(0, 0%, 41%);
    border-radius: 7px;

    cursor: pointer;
}

section{
    width: 90%;
    padding: 0px 20px;
    margin: auto;

    text-align: center;
}

section #back-image{
    width: 100%;
    margin: auto;
}

section h1 {
    font-weight: 700;
    font-size: 2rem;

    padding: 18px 0;
}

section .paragraph-section{
    font-weight: 500;
    font-size: .8rem;
    color: hsl(0, 0%, 41%);

    padding: 0 20px;
    line-height: 18px;
}

section #btn-learn-more{
    background-color: hsl(0, 0%, 0%);
    width: 7rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;

    color: hsl(0, 0%, 98%);
    font-weight: 700;
}

section #btn-learn-more:hover {
    transition: 700ms;
    background: transparent;
    color: hsl(0, 0%, 0%);
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    cursor: pointer;
}

section .clients{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    margin-top: 20px;
}

.clients a img {
    width: 5rem;
    height: 2rem;
}

.attribution{
    font-size: 12px;
    text-align: center;
    position: relative;
    width: 100%;
    top: 100%;
    margin-top: 50px;
    
}

.attribution a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
}

.dp-none{
    display: none;
}

.dp-flex{
    -webkit-animation: show-slide-div 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: show-slide-div 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: flex;
}

.loggedUser{
    font-size: 15px;
    color: #595959;
    position: absolute;
    top: 80%;
    align-self: center;
    padding: 10px;
    border: 1px solid #595959;
    border-radius: 10px;

    letter-spacing: 1px;
}

.btn-logout{
    background: transparent;
    border: none;
    padding: 5px 10px;
    margin-bottom: 7px;

    color:hsl(0, 1%, 38%);
    font-weight: 500;
    font-size: .935rem;
    cursor: pointer;
}

.divExit{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    margin: auto;
    top: 7%;
    left: 40%;
    width: 200px;
    height: 80px;
    background-color: #e49607;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 1px 3px #595959;
    
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    
    -webkit-animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-bottom 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#learn-more{
    background-color: #ffffff;
    position: relative;
    width: 85%;
    height: max-content;
    margin: auto;
    top: 10%;
    padding: 15px 20px;
    box-shadow: 2px 1px 5px #595959;
    border-radius: 15px;

    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: left;
    
}

#learn-more #btnCloseLearnMore {
    width: fit-content;
    border: none;
    background: transparent;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background: #cccccc;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #595959;
    border-radius: 5px;
}

::-webkit-scrollbar-track{
    background: transparent;
}


